extends layout

mixin key(key_name, chords, style)
  div(class!=attributes.class, id!=attributes.id)
    a(href="#inline" class="inline")
      img.expand-image
    .key-name-box
    .switch-enharmonic-mode.enharmonic-mode-symbol.enharmonic-mode-sharp= "♯"
    .switch-enharmonic-mode.enharmonic-mode-symbol.enharmonic-mode-flat= "♭"
    .switch-enharmonic-mode.enharmonic-mode-rotate.rotate-symbol= "⇄"
    .switch-minor-scale-mode.minor-scale-mode-name= ""
    .switch-minor-scale-mode.minor-scale-mode-rotate.rotate-symbol= "⇄"
    .chords-box
      .chords-line
      .chords-line

mixin tonic-key(id)
  +key(id=id, class="tonic-key")

mixin directly-related-key(id)
  +key(id=id, class="directly-related-key")

mixin indirectly-related-key(id)
  +key(id=id, class="indirectly-related-key")

mixin dominant-arrow
  .arrow-box
    .arrow-box-title= dominant_key
    .up-arrow

mixin subdominant-arrow
  .arrow-box
    .down-arrow
    .arrow-box-bottom-padding
    .arrow-box-title= subdominant_key

mixin arrow-row(arrow_type)
  .arrow-row
    .arrow-padding-side
    +#{arrow_type}
    .arrow-padding-mid
    +#{arrow_type}
    .arrow-padding-mid
    +#{arrow_type}
    .arrow-padding-side 

mixin dominant-arrow-row
  +arrow-row("dominant-arrow")

mixin subdominant-arrow-row
  +arrow-row("subdominant-arrow")

mixin left-arrow
  .arrow-box
    .arrow-box-head-padding
    .arrow-box-title= parallel_key
    .left-arrow

mixin right-arrow
  .arrow-box
    .arrow-box-head-padding
    .arrow-box-title= relative_key
    .right-arrow

block content
  script(src="./index.bundle.js")
  include header.pug
  .key-container
    .key-row
      +indirectly-related-key("key1")
      +left-arrow
      +directly-related-key("key2")
      +right-arrow
      +indirectly-related-key("key3")
    +dominant-arrow-row
    .key-row#tonic_key_row
      +directly-related-key("key4")
      +left-arrow
      +tonic-key("key5")
      +right-arrow
      +directly-related-key("key6")
    +subdominant-arrow-row
    .key-row#subdominant_key_row
      +indirectly-related-key("key7")
      +left-arrow
      +directly-related-key("key8")
      +right-arrow
      +indirectly-related-key("key9")
  .key-detail-box#inline(style={display: "none"})
    .key-detail
      .key-detail-heading
        .key-title
      .staff-box
        .staff#staff
  - var enable_sns_link = true
  include footer.pug