extends layout

mixin key(key_name, chords, style)
  div(class!=attributes.class, id!=attributes.id)
    a(href="#inline" class="inline")
      img.expand-image
    .key-name-box
    .switch-enharmonic-mode="#⇄b"
    .chords-box
      .chords-line
      .chords-line

mixin tonic-key(id)
  +key(id=id, class="tonic-key")

mixin directly-related-key(id)
  +key(id=id, class="directly-related-key")

mixin indirectly-related-key(id)
  +key(id=id, class="indirectly-related-key")

mixin dominant-arrow
  .arrow-box
    .arrow-box-title= "属調"
    .up-arrow

mixin subdominant-arrow
  .arrow-box
    .down-arrow
    .arrow-box-bottom-padding
    .arrow-box-title= "下属調"

mixin arrow-row(arrow_type)
  .arrow-row
    .arrow-padding-side 
    +#{arrow_type}
    .arrow-padding-mid
    +#{arrow_type}
    .arrow-padding-mid
    +#{arrow_type}
    .arrow-padding-side 

mixin dominant-arrow-row
  +arrow-row("dominant-arrow")

mixin subdominant-arrow-row
  +arrow-row("subdominant-arrow")

mixin left-arrow
  .arrow-box
    .arrow-box-head-padding
    .arrow-box-title= "同主調"
    .left-arrow

mixin right-arrow
  .arrow-box
    .arrow-box-head-padding
    .arrow-box-title= "平行調"
    .right-arrow

block content
  .header-box
    .header-text-box
      h1
        a= title
  .key-container
    .key-row
      +indirectly-related-key("key1")
      +left-arrow
      +directly-related-key("key2")
      +right-arrow
      +indirectly-related-key("key3")
    +dominant-arrow-row
    .key-row#tonic_key_row
      +directly-related-key("key4")
      +left-arrow
      +tonic-key("key5")
      +right-arrow
      +directly-related-key("key6")
    +subdominant-arrow-row
    .key-row#subdominant_key_row
      +indirectly-related-key("key7")
      +left-arrow
      +directly-related-key("key8")
      +right-arrow
      +indirectly-related-key("key9")
  .key-detail-box#inline(style={display: "none"})
    .key-detail
      .key-detail-heading
        .key-title= ""
        .key-description= ""
      .staff-box
        .staff#staff
  .footer-box
    .footer-text-box
      = "© 2018 "
      a(class="footer-site-link" href="https://diatonic.jp" target="_blank")= "diatonic.jp"
    .sns-link-box
      .sns-button.twitter
        a(href="" title="Tweet" target="_blank")
          i.fab.fa-twitter
      .sns-button.facebook
        a(href="" title="Facebook" target="_blank")
          i.fab.fa-facebook-f
      .sns-button.google
        a(href="" title="google+" target="_blank")
          i.fab.fa-google-plus-g
      .sns-button.hatebu
        a(href="" title="はてなブックマーク" target="_blank")
          i.fab.fa-hatebu
      .sns-button.github
        a(href="https://github.com/hotwatermorning/related-key-map" title="Project Page" target="_blank")
          i.fab.fa-github