mixin link-icon(title, class_name, fa_class_name)
  div(class!=`sns-button ${class_name}` style={display: "none"})
    a(href="" title=title target="_blank")
      i(class!=`fab fa-lg ${fa_class_name}` aria-hidden="true")

doctype html
html
  head
    script(async src="https://www.googletagmanager.com/gtag/js?id=UA-17194470-5")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-17194470-5');
    title= title
    meta(name="keywords", content=keywords)
    meta(name="description", content=description)
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cardo|Montserrat")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" crossorigin="anonymous")
    link(rel="icon", href="./images/favicon.ico")
  body
    block content
